---
layout: default
title: Re:belay Canyoning
feature_image: 
feature_image_alt_text: 
feature_video:
  title: We are Canyoneers
  author: Jake Huddleston
  video_id: AVC6Iou0COk
  description: 'A visual journey through beautiful canyons around the world looking at answering the important question: why do we go canyoning?'
description: 
keywords: 
  - canyoneering blog
  - canyoneering blogs
  - canyoning blog
  - canyoning articles
  - rebelay canyoning
  - re:belay canyoning
page_configuration:
  head_code_block:
  body_code_block:  
---

{% assign post = site.posts | first %}
<main class="atf-bg py-32 md:py-40 relative bg-center bg-cover bg-no-repeat" style="background-image: url({{post.feature_image}});">
  <div class="container mx-auto px-4 md:px-16 py-4 md:py-24">
    <a href="{{post.url}}">
      <h1 class="text-4xl md:text-6xl font-display font-bold mb-6 editable text-gray-50 relative tracking-wide hover:text-yellow-400 transition-colors">
        {{post.display_title}}
      </h1>
    </a>
    <a href="{{post.url}}">
      <p class="font-body tracking-wide text-lg md:text-2xl font-light text-gray-200">{{post.description}}</p>
    </a>
    <span class="block font-body tracking-wide text-sm font-light text-gray-200">By {{site.data.authors[post.author].name}}</span>
    <a href="{{post.url}}"
      class="group font-display inline-block editable py-2 text-lg md:text-2xl uppercase tracking-wider text-yellow-400 rounded-md" aria-label="read blog article titled {{post.display_title}}">
      Read article<span class="opacity-0 group-hover:opacity-100 transition-opacity font-bold font-display text-4xl text-gray-100">:</span>
    </a>
  </div>
</main>
<div class="lg:container mx-auto py-8 lg:px-16 lg:py-16">
  <div class="px-6 lg:px-0">
    <h2 class="section-heading mb-4">Tales from the Canyons</h2>
    <p class="pb-4">Read the latest epic stories from descents around the world, curated by Re:belay</p>
    <hr class="mb-8">
  </div>
  <div id="slider" class="articles-wrapper flex justify-between gap-y-6 gap-x-4 overflow-x-scroll" style="touch-action: auto;">
    {% assign posts = site.posts | where_exp: "post", "post.category != 'interview' "%}
    {% for post in posts offset: 1 limit: 3 %}
    {% include components/article-card.html %}
    {% endfor %}
  </div>
  <div class="interviews py-8">
    {% assign interviews = site.posts | where_exp: "itw", "itw.category == 'interview'" %}
    {% assign interview = interviews[1] %}
    <div class="flex flex-col md:flex-row items-center">
      <div class="flex-1 flex-shrink-0">
        <div class="">
          <img src="{{interview.feature_image}}" alt="" class="responsive-img">
        </div>
      </div>
      <div class="interview-preview">
        <div class="interview-preview--content p-6">
          <h3 class="section-subheader text-yellow-400">community</h3>
          <h2 class="section-heading text-gray-50">
            {{interview.display_title}}
          </h2>
          <p class="section-paragraph text-gray-50">
            {{interview.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="newsletter-sign-up" class="newsletter-sign-up container mx-auto px-4 md:px-10 lg:px-16 py-8 lg:py-16">
  <div class="bg-yellow-400 p-10 flex flex-col md:flex-row">
    <div class="flex-1 pb-5 lg:pb-0">
      <h2 class="section-heading text-gray-100">Never miss a story</h2>
      <p class="section-paragraph">Sign up to our newsletter and get notified about the latest canyoning articles</p>
    </div>
    <div class="newsletter-form flex-1">
      <form action="alert('Success')" method="post" class="flex flex-col gap-2">
        <input type="email" name="email" placeholder="Your Email" class="newsletter-input--email">
        <input type="submit" value="Sign Up" class="font-light uppercase transform shadow-md py-2 hover:scale-105 hover:shadow-sm hover:bg-gray-200 transition-all text-yellow-400 bg-gray-100 tracking-wider font-display ">
      </form>
    </div>
  </div>
</section>
<section class="container mx-auto py-6 px-4 md:px-16">
  <hr class="py-2">
  <div class="flex flex-col md:flex-row gap-y-10 md:gap-y-0 md:gap-x-10">
    <div class="flex-1">
      <h2 class="section-subheader text-yellow-500 ">Get Inspired</h2>
      <h3 class="section-heading mb-4">Featured video: {{page.feature_video.title}}</h3>
      <div class="video-description">
        <p class="pb-4">{{page.feature_video.description}}</p>
        <p class="text-xs">Video by {{page.feature_video.author}}</p>
      </div>
    </div>
    <div class="flex-1">
      <lite-youtube videoid="{{page.feature_video.video_id}}"></lite-youtube>
    </div>
  </div>
</section>
<div class="container mx-auto text-center px-4 md:px-10 lg:px-16 mb-6">
  <div class="creator-cta" style="background-image: url(/assets/images/taiwan-canyoning-expedition/canyoning-rebelay-001-malishan-16.jpg);">
    <h2 class="relative section-heading text-yellow-400">Calling all canyoning photographers and filmmakers</h2>
    <p class="section-paragraph relative text-gray-50 mb-4">Re:belay is a channel for you to reach your audience. We want to showcase your work. <br> Contact us to get featured on Re:belay.com</p>
    <a href="/about#contact" class="btn btn-solid--accent px-3 py-2 bg-yellow-500 hover:bg-yellow-400 font-display uppercase tracking-wider relative inline-block">Get in touch</a>
  </div>
</div>
<!-- Netlify Script -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script>
  const slider = document.getElementById('slider');
  let isDown = false;
  let startX;
  let scrollLeft;
  let scrollRight;

  slider.addEventListener('mousedown', (e) => {
    isDown = true;
    slider.classList.add('active');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
  })
  slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('active');
  })
  slider.addEventListener('mouseup', () => {
    isDown = false;
  })
  slider.addEventListener('mousemove', (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    const walk = x - startX;
    slider.scrollLeft = scrollLeft - walk;
    console.log({x, startX});
  })

</script>
