<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include main/og.html%}
  {{site.data.settings.configuration.head_code_block}}

  {% include main/scripts.html %}
  <script defer type="application/javascript" src="/js/klaro-config.js"></script>
  <script src="/js/klaro.js" data-config="klaroConfig" defer type="application/javascript"></script>
  <!-- <script defer data-config="klaroConfig" type="application/javascript" src="https://cdn.kiprotect.com/klaro/v0.7/klaro.js"></script> -->
  <link rel="stylesheet" href="/style/main.css">
</head>