<div id="nav-bar" class="px-10 lg:px-28 py-4 w-full lg:w-3/5 lg:mx-auto bg-transparent">
  <a href="/" class="nav-bar--logo" aria-label="Homepage">
    {% picture small "{{site.data.settings.branding.nav_logo_image}}" --img alt="{{site.data.settings.branding.site_title}} logo" class="object-contain" %}    
  </a>
  <nav id="nav-bar-menu" class="nav-bar-menu">
    <!-- Nav menu items are rendered from the `settings.yml` file located in the `_data` folder -->
    {% for menu in site.data.settings.navigation.menus %}
    {% unless menu.is_dropdown %}
    <div class="nav-bar-menu--item group">
      <span class="nav-bar-menu--item__icon">:</span>
      <a href="{{menu.url}}" class="nav-bar-menu--item__link">
      {{ menu.name }}
      </a>
    </div>
    {% else %}
    <button class="nav-bar-menu--item group">
      {{menu.name}}
      <div class="nav-bar-menu--item__dropdown group-focus-within:opacity-100 group-hover:opacity-100 group-hover:z-90">
      {% for submenu in menu.submenus %}
        <a href="{{submenu.url}}" class="nav-bar-menu--item__link">
        {{submenu.name}}
        </a>
      {% endfor %}
      </div>
    </button>
    {% endunless %}
    {% endfor %}    
  </nav>
  <!-- <button id="burger" class="burger relative flex flex-col h-8 justify-between md:hidden w-10 z-50 transition-all">
    <span class="bg-yellow-600 h-1 w-full rounded-md"></span>    
    <span class="bg-yellow-600 h-1 w-full rounded-md"></span>
    <span class="bg-yellow-600 h-1 w-full rounded-md"></span>
  </button> -->
</div>