<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet preload" onload="this.rel = 'stylesheet'" as="style" crossorigin="anonymous" type="text/css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5Q65WD6ZB6"></script>
<script data-name="googleAnalytics" type="text/plain" data-type="application/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  
  gtag('config', 'G-5Q65WD6ZB6');
</script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
{% if page.layout == "post" %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6825434436326122"
crossorigin="anonymous" data-name="googleAdsense" type="text/plain" data-type="application/javascript"></script>
{% endif %}