.article-content,
.legal-copy {

  h2 {
    @apply font-display font-semibold text-2xl md:text-3xl text-gray-700 mb-4;
  }
  h3 {
    @apply font-display uppercase text-xl text-yellow-500 inline-block mb-4;
  }
  h4 {
    @apply font-bold uppercase tracking-widest text-base mb-4;
  }
  p {
    @apply mb-4 leading-7 tracking-wide;
  }
  p:last-of-type {
    @apply mb-0;
  }
  p:first-of-type {
    @apply text-xl italic font-extralight;
  }
  p a {
    @apply text-yellow-500 hover:text-yellow-700 transition-colors;
  }
  blockquote {
    @apply pl-6 border-l-8 border-yellow-500 mb-4;
    p {
      @apply font-light italic text-3xl;
    }
  }
  ul, ol {
    @apply mb-4;
  }
  ul li {
    @apply list-inside list-disc font-semibold;
  }
}
.legal-copy {
  h1 {
    @apply font-display font-semibold text-3xl md:text-5xl text-yellow-600 mb-4;
  }
}
.related-posts--container,
.articles-wrapper,
.articles-slider {
  &::-webkit-scrollbar {
        @apply p-2 bg-transparent;
  }
  &::-webkit-scrollbar-button {
  
  }
  &::-webkit-scrollbar-thumb {
    
  }
  &::-webkit-scrollbar-track {

  }
  &::-webkit-scrollbar-track-piece {
  
  }
  &::-webkit-scrollbar-corner {
  
  }
}

.articles-slider {
  @apply overflow-x-scroll;
}
.active-gallery {
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2;
  &--img {
    @apply col-span-1 md:col-span-2 lg:col-span-1 overflow-hidden;
    height: 300px;
    max-height: 500px;
  }
  &--caption {
    p {
      @apply transition-transform text-yellow-400 font-body font-light tracking-wider flex items-center text-sm md:text-base;
    }
  }
}
@media (min-width: 768px) { 
  .active-gallery--img {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .active-gallery--img {
    height: 500px;
  }
}