.bg-image {
  @apply object-cover object-center w-full h-full;
}
.bg-gray-gradient {
  background: rgb(25, 25, 25);
  background: linear-gradient(318deg, rgba(25, 25, 25, 1) 0%, rgba(139, 139, 139, 1) 50%, rgba(69, 69, 69, 1) 100%);
}
.atf-heading {
  @apply text-3xl md:text-4xl lg:text-6xl font-display font-bold mb-6 text-gray-50 relative tracking-wide hover:text-yellow-400 transition-colors;
}
.atf-paragraph {
  @apply font-body tracking-wide text-base md:text-lg lg:text-2xl font-light text-gray-200;
}
.section-heading {
  @apply text-xl md:text-2xl lg:text-3xl font-display font-semibold;
}
.section-subheader {
  @apply font-display uppercase text-sm sm:text-base md:text-xl font-semibold tracking-wide;
}
.section-paragraph {
  @apply text-tiny sm:text-sm lg:text-base font-light tracking-wide;
}
.nav-bar-menu {
  @apply py-4 md:py-0 md:pt-6 md:pb-2 md:mt-2 px-6 flex justify-around items-start md:items-center transition-transform duration-300;
}
.nav-bar--logo {
  @apply w-36 md:w-28 lg:w-36 lg:h-10 mx-auto block;
}
.nav-bar-menu--item {
  @apply relative px-2 md:px-4 flex items-end justify-between md:justify-evenly gap-x-1;
  &__link {
    @apply font-display text-tiny sm:text-xs md:text-base uppercase text-gray-700 group-hover:text-yellow-400 transition-colors duration-75 tracking-widest font-extralight;
  }
  &__icon {
    @apply font-display font-bold text-lg md:text-2xl text-yellow-400 opacity-0 group-hover:opacity-100 transition-opacity;
  }
  &__dropdown {
    @apply absolute bg-gray-300 flex flex-col opacity-0 transition-opacity py-2 rounded w-full;
  }
}

.contact-form {
  @apply flex flex-col gap-y-4;
  .form-btn,
  .form-input {
    @apply w-full md:w-3/4 lg:w-1/2 mx-auto;
  }
  .form-input {
    @apply border-b-2 border-gray-700 bg-gray-100 text-gray-600;
  }
}
.form-input {
  @apply p-2;
  &::placeholder,
  option {
    @apply text-gray-500 font-body;
  }
}
.form-btn {
  @apply font-light uppercase transform shadow-md py-2 hover:scale-105 hover:shadow-sm hover:bg-gray-200 transition-all text-yellow-400 bg-gray-100 tracking-wider font-display ;
}

.creator-cta {
  @apply relative flex flex-col items-center justify-center h-64 bg-center bg-cover;
  &::before {
    content: '';
    @apply absolute inset-0 w-full h-full bg-gray-700 opacity-40;
  }
}
.interview-preview {
  @apply flex-1 h-auto md:h-72 lg:h-96 relative;  
  &::before {
    content: '';
    @apply h-3/5 w-24 bg-yellow-600 absolute -left-16 top-14 transform translate-x-1/2 translate-y-1/2;
  }
}
.interview-preview--content {
  @apply flex flex-col items-center md:items-start justify-center gap-y-4 h-full bg-gray-800 relative;
}
.newsletter-input--email {
  @apply p-2 font-display border-b-2 border-gray-50 bg-transparent text-gray-50;
}
.newsletter-input--email::placeholder {
  @apply text-gray-50 bg-transparent;
}

