<div class="archive-listing--container ">
  <a href="{{post.url}}" class="archive-listing--img">
    {% picture xlarge "{{post.feature_image}}" --img class="object-cover w-full h-full" loading="lazy" %}    
  </a>
  <div class="archive-listing--content">
    {% include components/post-category.html %}
    <a href="{{post.url}}">
      <h3 class="article-card--title text-gray-600">{{post.display_title}}</h3>
    </a>
    <a href="{{post.url}}">
      <p class="article-card--description">{{post.description}}</p>
    </a>
    {% assign author = site.data.authors[post.author] %}
    <span class="article-card--author">By {{author.name}}</span>  
  </div>
</div>