<article itemscope itemtype="https://schema.org/Article" class="blog-card ">
  <div class="blog-card--image">
  {% picture large "{{post.feature_image}}" --img alt="{{post.feature_image_alt_text}}" class="bg-image" %}
</div>
  <div class="p-4 flex flex-col justify-between">
    <div class="blog-info">
      <span>{{post.category}}</span>
      <span>{{post.date | date_to_string}}</span>

    </div>
    <a href="{{post.url}}" class="py-2">
      <h2 class="blog-card--title">{{ post.display_title }}</h2>
    </a>
    <a href="{{post.url}}">
      <p class="blog-card--description">{{post.description}}</p>
    </a>
    {% assign author = site.data.authors[post.author] %}
    <p class="text-gray-600 text-tiny md:text-xs py-2">By {{author.name}}</p>
  </div>
</article>