---
layout: default
---

<main class="article-wrapper">
  <div class="container mx-auto md:px-16 py-8">
    <article class="article md:w-5/6 lg:w-3/5 mx-auto px-10" itemscope itemtype="https://schema.org/Article">
      <header class="article-header">
        <div class="article-feature-image">
          {% picture article_feature "{{page.feature_image}}" --img alt="{{page.feature_image_alt_text}}" class="responsive-img" itemprop="image" %}          
        </div>
        <span class="article-category block uppercase font-display text-gray-400 border-b-2 border-yellow-500 my-4 pb-1">
          {{page.article_category}}
        </span>
        <h1 class="article-header--title text-3xl md:text-4xl lg:text-6xl text-yellow-400 font-display py-6" itemprop="headline">
          {{page.display_title}}
        </h1>
        <div class="article-byline flex flex-col md:flex-row gap-4 justify-center md:justify-between md:items-center py-4">
          {% assign author = site.data.authors[page.author] %}
          <div class="flex items-center justify-start gap-2 md:gap-4">
            <div class="rounded-full w-9 h-9 md:w-14 md:h-14 border-t-4 border-white overflow-hidden">
              {% picture xsmall "{{author.profile_image}}" --img alt="Profile photo of {{author.name}}, writer of this article"%}              
            </div>
            <p class="article-byline--author text-tiny md:text-sm font-extralight text-gray-500">Words by: <span itemprop="author">{{author.name}}</span></p>
          </div>           
          <span class="font-light font-display text-tiny md:text-sm text-gray-500 uppercase"><span><svg xmlns="http://www.w3.org/2000/svg" class="inline-block mr-1" height="20" viewBox="0 -960 960 960" width="20" fill="#555555">
            <path
              d="M583.918-240q-36.763 0-62.648-25.659-25.884-25.659-25.884-62.423 0-36.763 25.659-62.648 25.659-25.884 62.423-25.884 36.763 0 62.648 25.659Q672-365.296 672-328.532q0 36.763-25.659 62.648Q620.682-240 583.918-240ZM228.309-116.001q-27.008 0-45.658-19-18.65-19-18.65-45.308v-503.382q0-26.308 18.65-45.308t45.658-19h87.385v-100.615h53.537v100.615h223.076v-100.615h51.999v100.615h87.385q27.008 0 45.658 19 18.65 19 18.65 45.308v503.382q0 26.308-18.65 45.308t-45.658 19H228.309Zm0-51.999h503.382q4.616 0 8.463-3.846 3.846-3.847 3.846-8.463v-335.382H216v335.382q0 4.616 3.846 8.463 3.847 3.846 8.463 3.846Z" />
          </svg></span><span itemprop="datePublished">{{page.date | date_to_string}}</span></span>
        </div>
        <div class="py-2 sticky">
          {% include components/share-menu.html %}
        </div>
      </header>
      <hr class="text-yellow-400 py-2">
      {% if page.content_type == 'article' %}
      <section class="article-content" itemprop="articleBody">
        {{content}}
      </section>
      {% elsif page.content_type == 'photostory' %}
      <section class="article-content" itemprop="articleBody">
        <div class="gallery">
          {% assign images = page.gallery %}
          <div class=" flex flex-col gap-2">
            {% for image in images %}  
            <figure class="photostory-image w-full">
              {% picture xlarge "{{image.image}}" --img alt="{{image.alt_text}}" class="photostory" %}
              <figcaption class="flex flex-col gap-y-2 lg:px-6"><span class="uppercase font-display text-lg tracking-wide text-yellow-500">{{image.title}}</span><span class="pb-6 font-light font-body text-tiny md:text-sm text-gray-700 tracking-wider">{{image.caption}}</span></figcaption>            
            </figure>                      
            {% endfor %}        
          </div>
        </div>
      </section>
      {% endif %}
      <div class="py-2 sticky">
        {% include components/share-menu.html %}
      </div>
      
    </article>
    <aside class="md:w-5/6 lg:w-3/5 bg-gray-300 rounded-md shadow-md p-4 md:p-6 mx-auto mt-8">
      <span class="block font-display text-yellow-500 text-lg uppercase text-center md:text-left tracking-wide pb-4">About the author</span>
      <div class="flex flex-col md:flex-row items-center justify-center md:justify-start gap-2 md:gap-4">
        <div class="rounded-full flex-shrink-0 w-24 h-24 overflow-hidden">
          <img src="{{author.profile_image}}" alt="Profile photo of {{author.name}}, writer of this article" class="responsive-img">
        </div>
        <p class="article-byline--author text-sm font-extralight">{{author.bio_html}}</p>
        <div class="author-social flex-row md:flex-col">
          {% for channel in author.channels %}
          <a href="{{channel.url}}" class="inline-flex w-10 h-10 p-2" aria-label="Click to access {{author.name}}'s {{channel.plaform}} profile" target="_blank" rel="noopener noreferrer">
            {% include social-icons.html icon=channel.platform %}           
          </a>
          {% endfor %}
        </div>
      </div>
    </aside>
  </div>
</main>

<div class="article-gallery bg-gray-800 p-6 " style='background-image: url({%picture direct "/assets/images/textures/metal-texture-with-dust-scratches-cracks-textured-backgrounds.jpg"%}); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat;'>
  <div class="container mx-auto">
    <div class="py-4">
      <h2 class="section-heading text-gray-50">Gallery</h2>
      <p class="section-paragraph text-gray-100">Hover or click on the images to learn more</p>
    </div>
    {% assign gallery = page.gallery %}    
    <div id="activeGallery" class="active-gallery" >
      <div class="active-gallery--img rounded-md overflow-hidden">
        <picture>
          <source id="activeSrcset" srcset='{% picture only_srcset "{{gallery[0].image}}"%}'>
          <img id="activeImg" src='{% picture preview "{{gallery[0].image}}" %}' alt="{{gallery[0].alt_text}}"  data-srcset="{% picture only_srcset "{{gallery[0].image}}"%}" class="object-cover h-full w-full" loading="lazy">
        </picture>        
         
      </div>
      <div class="active-gallery--caption col-span-1 p-6">
        <h3 id="activeTitle" class="section-heading text-gray-200 mb-4">{{gallery[0].title}}</h3>
        <p id="activeCaption">{{gallery[0].caption}}</p>
      </div>
    </div>
    <div class="flex md:flex-row gap-2 flex-wrap py-2 justify-center">    
      {% for img in gallery %}
      <button class="h-24 w-24 rounded-md overflow-hidden" aria-label="toggle image">
        <img src='{% picture gallery-thumb "{{img.image}}" %}' alt="{{img.alt_text}}" data-title="{{img.title}}" data-caption="{{img.caption}}" class="gallery-thumb object-cover w-full h-full" data-srcset='{% picture only_srcset "{{img.image}}"%}' loading="lazy">
      </button>
      {% endfor %}
    </div>
  </div>
</div>
<div class="related-posts bg-yellow-500 bg-left bg-contain bg-no-repeat" style="background-image: url(/assets//images/textures/dotted-bg.svg); background-blend-mode: difference;">
  <div class="container mx-auto text-center py-6">
    <h2 class="section-heading">Read more stories</h2>
  </div>
    <div id="slider" class="pl-4 related-posts--container md:container md:mx-auto flex gap-x-4 py-6 overflow-x-scroll">
      {% for post in site.posts limit: 3 %}
      {% include components/article-card.html %}      
      {% endfor %}
    </div>
</div>
<script async>
  const article = document.querySelector('.article-content');  
  const images = article.querySelectorAll('img');  
  images.forEach((img) => {
    img.setAttribute('loading', 'lazy');
    let parent = img.parentNode;    
    let wrapper = document.createElement('div');
    wrapper.classList.add('article-content--image');
    // set the wrapper as child (instead of the element)
    parent.replaceChild(wrapper, img);
    // set element as child of wrapper
    wrapper.appendChild(img);
    // conditional for photostory
    if (!img.classList.contains('photostory')){
      let caption = document.createElement('caption');
      caption.innerText = img.getAttribute('alt');
      wrapper.appendChild(caption);    
    }

  });
  function setActiveImg(t) {
    let imgSrc = t.src;      
    activeImg.setAttribute('src', imgSrc);
    activeSrcset.setAttribute('srcset', t.dataset.srcset);
    activeTitle.innerText = t.dataset.title || '';
    activeCaption.innerHTML = t.dataset.caption; 
  }
  function setOrientation(t) {
    if (t.naturalHeight > t.naturalWidth) {
      activeImg.classList.remove('object-cover');
      activeImg.classList.add('object-contain');
    } else if (t.naturalHeight < t.naturalWidth) {
      activeImg.classList.add('object-cover');
      activeImg.classList.remove('object-contain');
    }
  }
  function eventHandler(e,t) {
    t.addEventListener(e, () => {
      setOrientation(t);    
      setActiveImg(t);      
    })  
  }
  window.addEventListener('DOMContentLoaded', () => {    
    const galleryImgs = document.querySelectorAll('.gallery-thumb');    
    const activeImg = document.getElementById('activeImg');
    const activeCaption = document.getElementById('activeCaption');    
    const activeTitle = document.getElementById('activeTitle');    
    const activeSrcset = document.getElementById('activeSrcset');
    galleryImgs.forEach((img) => {
      document.addEventListener('keydown', (e)=>{
        if (e.key === "Tab" && document.activeElement === img.parentElement) {
          setOrientation(img);
          setActiveImg(img);
        }
      })
        eventHandler('mouseover', img);
        eventHandler('click', img);                        
    })
  })
  
  </script>
  <script src="/js/slider.js" defer></script>